table {
    margin: 0 auto
}

td, th {
    text-align: left;
    padding: 8px;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(52, 131, 196);
    color: white;
}
input[type=number] {
    width:80px;
}
input:focus[type=number]{
    border:0px;
}
.invalid {
    border: solid red 2px;
    border-radius: 6px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}
